includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
	level: 8
	paths:
		- src
		- tests
	typeAliases:
		# Shape of the container filled by GuzzleHttp\Middleware::history().
		GuzzleHistory: 'array<int, array{request: Psr\Http\Message\RequestInterface, response: Psr\Http\Message\ResponseInterface|null, error: mixed, options: array<string, mixed>}>'
